ul {
  --item-size : 80%;
  --gap-size : 1.0em;

  display: flex;
  gap: var(--gap-size);

  padding-inline: calc((100% - var(--item-size)) / 2);

  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  -ms-overflow-style: none;
  scrollbar-width: none;

  width:80%;
  margin:20px auto;
  border:1px solid black;

  -webkit-overflow-scrolling: touch;
  /* scroll-padding-inline: calc((100% - var(--item-size)) / 2); */
}
ul::-webkit-scrollbar {
    display: none;
}

li {
  list-style-type: none;
  background-color: #eeeeee;

  height: 100px;
  padding-top: 20px;
  /* scroll-snap-align: start; */
  text-align: center;

  flex: 0 0 var(--item-size);
  /* scroll-snap-align: center;
  scroll-snap-stop: always; */

  scroll-margin-inline: 10px;

  position: relative;
}

.anchor {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  pointer-events: none;
  /* visibility: hidden; */
  
  /* scroll-snap-align: center; */
  scroll-snap-align: start;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  background-color:red;
}

